.App {
  background-color: rgba(68, 216, 182, 0.3);
  height: 100vh;
}

.App-logo {
  height: 15vh;
  width: 15vw;
  position: relative;
  right: 0px;
  margin-right: 3vw;
  vertical-align: middle;
  display: none;
}

.App-header {
  height: 35vh;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.header-text {
  font-family: Palatino;
  font-style: italic;
  font-size: 6vw;
  width: 100vw;
  color: #4a4a4a;
  height: fit-content;
  text-align: center;
  display: inline-block;
}

.intro-text {
  font-family: Palatino;
  font-style: italic;
  font-size: 1.5vw;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: left;
  color: #4a4a4a;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.footer-gray {
  background-color: #9ea3a8;
  width: 100vw;
  height: fit-content;
  bottom: 0;
  margin: 0px;
  position: absolute;
}

.footer-button-cont {
  width: 100vw;
  height: 10vh;
}

.footer-link-cont {
  width: 100vw;
  height: 10vh;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_logo {
  width: 5vw;
  height: 5vh;
}

.btn-link {
  color: #4a4a4a;
}

.App-link {
  color: #61dafb;
}

.btn .btn-link {
  color: #4a4a4a;
}

@media screen and (min-width: 800px) {
  .App-logo {
    display: block;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
